body {
    display: block;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    -ms-scroll-snap-type: mandatory;
  }
 .button {
     margin-left: 3%;
     margin-bottom: 20px;
 }